body {
    body{
        font-family: Arial sans-serif;
    }
}
.menu {
    margin-top: 0px;
    list-style: none;
    padding: 0;
    display: flex;
    background-color: #d2d2d2;
    width: 1280px;
    border-bottom: 3px solid #944545;
    border-left: 7px solid #944545;
    text-align: center;
    transition: background-color 0.3s; /* Thêm transition cho màu nền của menu */
}

.menu li {
    margin: 25px;
    padding-left: 0px;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    padding: 15px;
    display: block;
    transition: background-color 0.3s;
    margin: 0;
    position: relative;
    font-size: 20px;
}

.menu li a:hover {
    background-color: #944545;
    color: #ffffff;
    opacity: 1;
}
.has-submenu {
    position: relative;
}
.has-submenu .submenu {
    display: none;
    position: absolute;
    background-color: #e7e1e1;
    border-left: 7px solid #944545;
    padding-left: 0;
    z-index: 1;
}
.has-submenu:hover .submenu {
    display: block;
    border-left: none;
}
.submenu li {
    list-style: none;
}












